footer{
    width: 100%;
}

.footer-icons{
    display: flex;
    justify-content: center;
}
.footer-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    width: 166px;
}

.footer-title{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    margin-top: 39px;
    margin-bottom: 28px;
    color: var(--white-main);

    
}



.whatsapp-icon{
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 9999;
    img{
        max-width: 73px;
        transition: transform 0.4s;
    }

    img:hover{
        transform: scale(1.1);
    }
    span{
        visibility: hidden;
        position: absolute;
        opacity: 0;
        transition: opacity 0.4s;
    }
}
.whatsapp-icon:hover span{
    width: 100px;
    text-align: center;
    background-color: var(--black-main);
    color: var(--white-main);
    visibility: visible;
    opacity: 1;
    left: -100px;
}

@media screen and (max-width: 768px){
    .footer-title{
        font-size: 10px;

    }
}